@import url(http://fonts.googleapis.com/css?family=BenchNine:300,400,700&subset=latin,latin-ext);
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #a88790;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover, 
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
 .navbar-default .navbar-nav>.active>a:focus {
    color: #a88790;
} 
.navbar-default {
    background-color: #671f35;
}

body {
    padding-top: 0px;
}

.top_bar {
    height: 30px;
    margin-top: 5px;
}
.top_bar ul {
    margin-right: 25px;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
        height: 86px;
    }
    .navbar-default .navbar-nav>li>a {
        margin-top: 21px;
        margin-bottom: 0;
        font-size: 120%;
    }
}

.navbar-brand {
    margin-top: -2px;
    padding: 0;
}

.nav.navbar-nav.menu {
    margin-right: -105px;
    font-family: 'BenchNine', sans-serif;
}

body {
    font-family: 'BenchNine', sans-serif;
    font-size: 170%;
    line-height: 1.7;
    text-align:justify;
}
.menu li + li a:before {
    content: "|";
    margin-right: 30px;
}
.menu.navbar-nav>li>a:hover {
    border: 1px solid transparent;
    color: #8F6E77;
}

.carousel_parent {
    margin-left: 30px;
}

.entry-content a {
    border-bottom: 1px solid;
}
