.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #a88790;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    color: #a88790;
} 
.navbar-default {
    background-color: #671f35;
}
